SubastaAutosRExcelent/SubastAutos/Service References/ServicioAlCliente/ServiciosAlCliente.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SubastAutos.ModeloDeDatos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SubastAutos.ModeloDeDatos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/ServiciosAlCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SubastAutos.Web" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="IdRol" type="xs:int" />
      <xs:element minOccurs="0" name="Loggin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="Perfil">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SubastAutos.Web" minOccurs="0" name="Picture" nillable="true" type="q1:PictureFile" />
      <xs:element minOccurs="0" name="apellidosUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigoPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="depto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="foto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idSexo" type="xs:int" />
      <xs:element minOccurs="0" name="loggin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombresUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Perfil" nillable="true" type="tns:Perfil" />
  <xs:complexType name="ArrayOfDepartamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Departamento" nillable="true" type="tns:Departamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartamento" nillable="true" type="tns:ArrayOfDepartamento" />
  <xs:complexType name="Departamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idDepartamento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Departamento" nillable="true" type="tns:Departamento" />
  <xs:complexType name="ArrayOfMunicipio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Municipio" nillable="true" type="tns:Municipio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMunicipio" nillable="true" type="tns:ArrayOfMunicipio" />
  <xs:complexType name="Municipio">
    <xs:sequence>
      <xs:element minOccurs="0" name="idDepartamento" type="xs:int" />
      <xs:element minOccurs="0" name="idMunicipio" type="xs:int" />
      <xs:element minOccurs="0" name="municipio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Municipio" nillable="true" type="tns:Municipio" />
  <xs:complexType name="ArrayOfCombustible">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Combustible" nillable="true" type="tns:Combustible" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCombustible" nillable="true" type="tns:ArrayOfCombustible" />
  <xs:complexType name="Combustible">
    <xs:sequence>
      <xs:element minOccurs="0" name="combustible" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCombustible" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Combustible" nillable="true" type="tns:Combustible" />
  <xs:complexType name="ArrayOfTipoVehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoVehiculo" nillable="true" type="tns:TipoVehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoVehiculo" nillable="true" type="tns:ArrayOfTipoVehiculo" />
  <xs:complexType name="TipoVehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="idTipoVehiculo" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoVehiculo" nillable="true" type="tns:TipoVehiculo" />
  <xs:complexType name="ArrayOfVehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vehiculo" nillable="true" type="tns:Vehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehiculo" nillable="true" type="tns:ArrayOfVehiculo" />
  <xs:complexType name="Vehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="año" type="xs:int" />
      <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="combustible" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idCombustible" type="xs:int" />
      <xs:element minOccurs="0" name="idEstado" type="xs:int" />
      <xs:element minOccurs="0" name="idTipoVehiculo" type="xs:int" />
      <xs:element minOccurs="0" name="idVehiculo" type="xs:int" />
      <xs:element minOccurs="0" name="kilometraje" type="xs:double" />
      <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pathImagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precioBase" type="xs:double" />
      <xs:element minOccurs="0" name="tipoVehiculo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vehiculo" nillable="true" type="tns:Vehiculo" />
  <xs:complexType name="ArrayOfEstadoSubasta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstadoSubasta" nillable="true" type="tns:EstadoSubasta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstadoSubasta" nillable="true" type="tns:ArrayOfEstadoSubasta" />
  <xs:complexType name="EstadoSubasta">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idEstado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadoSubasta" nillable="true" type="tns:EstadoSubasta" />
  <xs:complexType name="ArrayOfDetallesDeEstadoDelVehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetallesDeEstadoDelVehiculo" nillable="true" type="tns:DetallesDeEstadoDelVehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetallesDeEstadoDelVehiculo" nillable="true" type="tns:ArrayOfDetallesDeEstadoDelVehiculo" />
  <xs:complexType name="DetallesDeEstadoDelVehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEstado" type="xs:int" />
      <xs:element minOccurs="0" name="IdVehiculo" type="xs:int" />
      <xs:element minOccurs="0" name="Tema" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetallesDeEstadoDelVehiculo" nillable="true" type="tns:DetallesDeEstadoDelVehiculo" />
  <xs:complexType name="ArrayOfDetalleVehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetalleVehiculo" nillable="true" type="tns:DetalleVehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetalleVehiculo" nillable="true" type="tns:ArrayOfDetalleVehiculo" />
  <xs:complexType name="DetalleVehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comentario" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SubastAutos.Web" minOccurs="0" name="Foto" nillable="true" type="q2:PictureFile" />
      <xs:element minOccurs="0" name="IdDetalle" type="xs:int" />
      <xs:element minOccurs="0" name="IdVehiculo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetalleVehiculo" nillable="true" type="tns:DetalleVehiculo" />
  <xs:complexType name="Subasta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" type="xs:byte" />
      <xs:element minOccurs="0" name="IdSubasta" type="xs:int" />
      <xs:element minOccurs="0" name="IdVehiculo" type="xs:int" />
      <xs:element minOccurs="0" name="LogginDueño" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioSugerido" type="xs:double" />
      <xs:element minOccurs="0" name="VehiculosDeSubasta" nillable="true" type="tns:ArrayOfVehiculo" />
      <xs:element minOccurs="0" name="fechaPropuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hora" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Subasta" nillable="true" type="tns:Subasta" />
</xs:schema>