SubastaAutosRExcelent/SubastAutos/Service References/ServicioAlCliente/ServiciosAlCliente3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/ServiciosAlCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SubastAutos.Web" />
  <xs:import schemaLocation="http://localhost:8080/ServiciosAlCliente.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SubastAutos.ModeloDeDatos" />
  <xs:import schemaLocation="http://localhost:8080/ServiciosAlCliente.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Registrarse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" type="xs:byte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombresUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellidosUsuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pais" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="depto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ciudad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaNacimiento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoPostal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idSexo" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SubastAutos.Web" minOccurs="0" name="foto" nillable="true" type="q1:PictureFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarPerfilResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombresUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellidosUsuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pais" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="depto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ciudad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaNacimiento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoPostal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idSexo" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SubastAutos.Web" minOccurs="0" name="foto" nillable="true" type="q2:PictureFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarPerfilResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarComentario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idVehiculo" type="xs:int" />
        <xs:element minOccurs="0" name="comentario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarComentarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarComentarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCombustible">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="combustible" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCombustibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarCombustibleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCombustible">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCombustible" type="xs:int" />
        <xs:element minOccurs="0" name="combustible" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCombustibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarCombustibleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Comprar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSubasta" type="xs:int" />
        <xs:element minOccurs="0" name="fechaCompra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComprarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroCuenta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarCuentaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroCuenta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nuevaCuenta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarCuentaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCuenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroCuenta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCuentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarCuentaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarDetalleVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVehiculo" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SubastAutos.Web" minOccurs="0" name="imagen" nillable="true" type="q3:PictureFile" />
        <xs:element minOccurs="0" name="comentario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarDetalleVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarDetalleVehiculoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDetalleVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDetalle" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDetalleVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarDetalleVehiculoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarEstadoSubasta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarEstadoSubastaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarEstadoSubastaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarRolResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarRolResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RolAUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RolAUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RolAUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRolAUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRolAUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarRolAUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarSubasta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVehiculo" type="xs:int" />
        <xs:element minOccurs="0" name="loggin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="montoSugerido" type="xs:double" />
        <xs:element minOccurs="0" name="horario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarSubastaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarSubastaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarSubasta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSubasta" type="xs:int" />
        <xs:element minOccurs="0" name="idVehiculo" type="xs:int" />
        <xs:element minOccurs="0" name="loggin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaPropuesta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="montoSugerido" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarSubastaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarSubastaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCombustible" type="xs:int" />
        <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="año" type="xs:int" />
        <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kilometraje" type="xs:double" />
        <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTipoVehiculo" type="xs:int" />
        <xs:element minOccurs="0" name="precioBase" type="xs:double" />
        <xs:element minOccurs="0" name="idEstadoVehiculo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarVehiculoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVehiculo" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCombustible" type="xs:int" />
        <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="año" type="xs:int" />
        <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kilometraje" type="xs:double" />
        <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTipoVehiculo" type="xs:int" />
        <xs:element minOccurs="0" name="precioBase" type="xs:double" />
        <xs:element minOccurs="0" name="idEstadoVeiculo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarVehiculoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarDetalleEstadoVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVehiculo" type="xs:int" />
        <xs:element minOccurs="0" name="tema" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarDetalleEstadoVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarDetalleEstadoVehiculoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDetalleEstadoVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDetalle" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarDetalleEstadoVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarDetalleEstadoVehiculoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logearse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogearseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SubastAutos.ModeloDeDatos" minOccurs="0" name="LogearseResult" nillable="true" type="q4:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerfilDeUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loggin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerfilDeUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SubastAutos.ModeloDeDatos" minOccurs="0" name="PerfilDeUsuarioResult" nillable="true" type="q5:Perfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartamentosDeGuatemala">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartamentosDeGuatemalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SubastAutos.ModeloDeDatos" minOccurs="0" name="DepartamentosDeGuatemalaResult" nillable="true" type="q6:ArrayOfDepartamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MunicipiosDeDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDepartamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MunicipiosDeDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SubastAutos.ModeloDeDatos" minOccurs="0" name="MunicipiosDeDepartamentoResult" nillable="true" type="q7:ArrayOfMunicipio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Combustibles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CombustiblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SubastAutos.ModeloDeDatos" minOccurs="0" name="CombustiblesResult" nillable="true" type="q8:ArrayOfCombustible" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TiposDeVehiculos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TiposDeVehiculosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SubastAutos.ModeloDeDatos" minOccurs="0" name="TiposDeVehiculosResult" nillable="true" type="q9:ArrayOfTipoVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VehiculosUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loggin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VehiculosUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SubastAutos.ModeloDeDatos" minOccurs="0" name="VehiculosUsuarioResult" nillable="true" type="q10:ArrayOfVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VehiculosComprados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loggin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VehiculosCompradosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SubastAutos.ModeloDeDatos" minOccurs="0" name="VehiculosCompradosResult" nillable="true" type="q11:ArrayOfVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VehiculosVendidos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loggin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VehiculosVendidosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SubastAutos.ModeloDeDatos" minOccurs="0" name="VehiculosVendidosResult" nillable="true" type="q12:ArrayOfVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoDeSusbasta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoDeSusbastaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SubastAutos.ModeloDeDatos" minOccurs="0" name="EstadoDeSusbastaResult" nillable="true" type="q13:ArrayOfEstadoSubasta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarVariable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="llave" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SubastAutos.ModeloDeDatos" minOccurs="0" name="variable" nillable="true" type="q14:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarVariableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarVariableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarVariable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="llave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetornarVariableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SubastAutos.ModeloDeDatos" minOccurs="0" name="RetornarVariableResult" nillable="true" type="q15:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetallesEstadoVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVehiculo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetallesEstadoVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SubastAutos.ModeloDeDatos" minOccurs="0" name="DetallesEstadoVehiculoResult" nillable="true" type="q16:ArrayOfDetallesDeEstadoDelVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalleVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVehiculo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DetalleVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SubastAutos.ModeloDeDatos" minOccurs="0" name="DetalleVehiculoResult" nillable="true" type="q17:ArrayOfDetalleVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VehiculosDebusqueda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departamento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="municipio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="combustible" type="xs:int" />
        <xs:element minOccurs="0" name="añoInicial" type="xs:int" />
        <xs:element minOccurs="0" name="añoFinal" type="xs:int" />
        <xs:element minOccurs="0" name="kilometrajeInicial" type="xs:double" />
        <xs:element minOccurs="0" name="kilometrajeFinal" type="xs:double" />
        <xs:element minOccurs="0" name="precioInicial" type="xs:double" />
        <xs:element minOccurs="0" name="precioFinal" type="xs:double" />
        <xs:element minOccurs="0" name="comentarioDeBusqueda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VehiculosDebusquedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SubastAutos.ModeloDeDatos" minOccurs="0" name="VehiculosDebusquedaResult" nillable="true" type="q18:ArrayOfVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrecioMayor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrecioMayorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrecioMayorResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilometrajeMayor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KilometrajeMayorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KilometrajeMayorResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarHorarioDeSubasta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarHorarioDeSubastaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="VerificarHorarioDeSubastaResult" nillable="true" type="q19:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="receptor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emisor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tema" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cuerpo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarMailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TruncarContrseña">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loggin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TruncarContrseñaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TruncarContrseñaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VehiculosDeSubastaActual">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VehiculosDeSubastaActualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SubastAutos.ModeloDeDatos" minOccurs="0" name="VehiculosDeSubastaActualResult" nillable="true" type="q20:Subasta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>